.secondary {
	text-align: left !important;
	border-color: #ccccb3 !important;
}
.answer {
	margin-bottom: 0 !important;
}
.marg-bot {
	margin-bottom: 20px;
}
.radius {
	border-radius: 5px;
	font-weight: bold;
}
p {
	color: grey;
}
div.large-3.medium-3.columns {
	padding: 0 !important;
}