table, td {
	border: solid black 1px;
  border-collapse: collapse;
  padding: 10px;
  margin: 10px auto;
	width : 30%;
}

div {
	text-align: center;
	font-family: verdana;
}

.button {
	margin: 20px auto;
	width: 30%;
	display: flex;
	justify-content: space-around;
}

p {
	display: inline;
	margin: 20px;
}