body {
	background-image: url(../img/body.png);
}
	
h1, h3 {
	margin-top: 75px;
	color: #0269C2;
	padding: 0px !important;

}

h4 {
	color: #0269C2;
	margin-top: 75px;
	transform: translateY(-50%);
}

section {
	height: 50px;
}

.reponse {
 height: 150px;
 margin-top: 30px;
 margin-bottom: 50px;
 border: 1px solid rgba(2, 105, 194, 0.4);
 border-radius: 5%;
 background-color: white;
}

.reponse:hover {
	background-color: rgba(2, 105, 194, 0.1);
	cursor: pointer;
}

.separator {
	border-top: 1px solid #333333;
	margin-top: 10px;
}

.display-article {
	display: none;
}

/*button {
	margin-bottom: 50px !important;
}*/